[Unit]
Description=MuPiHAT service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/dietpi/MuPiBox/hat/mupihat.py -j
[Install]
WantedBy=multi-user.target